include README.rst
include requirements.txt
include LICENSE
recursive-include docs/source *.rst
recursive-include docs/source *.py
recursive-include docs/source/images *
recursive-include doc/source/_templates *
include docs/Makefile
include docs/make.bat
include gffutils/test/data/c_elegans_WS199_ann_gff.txt
include gffutils/test/data/c_elegans_WS199_dna_shortened.fa
include gffutils/test/data/c_elegans_WS199_shortened_gff.txt
include gffutils/test/data/dmel-all-no-analysis-r5.49_50k_lines.gff
include gffutils/test/data/ensembl_gtf.txt
include gffutils/test/data/F3-unique-3.v2.gff
include gffutils/test/data/FBgn0031208.gff
include gffutils/test/data/FBgn0031208.gtf
include gffutils/test/data/gencode-v19.gtf
include gffutils/test/data/gff_example1.gff3
include gffutils/test/data/glimmer_nokeyval.gff3
include gffutils/test/data/hybrid1.gff3
include gffutils/test/data/__init__.py
include gffutils/test/data/intro_docs_example.gff
include gffutils/test/data/jgi_gff2.txt
include gffutils/test/data/mouse_extra_comma.gff3
include gffutils/test/data/ncbi_gff3.txt
include gffutils/test/data/nonascii
include gffutils/test/data/random-chr.gff
include gffutils/test/data/t.py
include gffutils/test/data/unsanitized.gff
include gffutils/test/data/wormbase_gff2_alt.txt
include gffutils/test/data/wormbase_gff2.txt
